<div class = 'inputform'>
  <h2>Enter New Mountain Details</h2>
  <form method='post' action="/mountains">
    <input class = 'input' type='text' name="mountain[name]" placeholder="Name" autofocus>
    <input class = 'input' type='text' name="mountain[continent]" placeholder="Continent" >
    <input class = 'input' type='text' name="mountain[range]" placeholder="range" >
    <input class = 'input' type='text' name="mountain[elevation]" placeholder="Elevation" >
    <input class = 'input' type='text' name="mountain[image]" placeholder="Image" >
    <button class='button-link'>Add Mountain</button>
  </form>
</div>